*{
    margin: 0px;
    padding: 0px
}
.link{
    color: black;
    font-size: 1.3em;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.link:hover{

color: gray;
text-decoration: none;
}