.player{
    min-width: 250px;
    border: 1px solid black;

    width:25%;
    margin:25px auto;
}
.playButton{
    margin: 1.5px;
    padding: 1em;
    border: 1px solid black;
    border-radius: 50%   ;
    -webkit-border-radius: 50%   ;
    -moz-border-radius: 50%   ;
    -ms-border-radius: 50%   ;
    -o-border-radius: 50%   ;
}

.sound{
    padding-top: 0.1em;
    margin:25px;
}

.name {
    border: 1px solid black;
    margin:25px;
}
.img{
    width:100%;
    min-width: 200px;
    height:100%;
    
}

    

