<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JSX with JS</title>
    <link rel="stylesheet" href="first-component.css">
    <script src="https://unpkg.com/react@16.0.0-rc.2/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16.0.0-rc.2/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
</head>
<body>
  <div id="app"></div>
  <script type="text/babel">
    class Pet extends React.Component {
      render() {

        const liStyle= {
          fontSize: "1.5em"
        }

        return (<div className="card">
                  <h2 className="name">Moxie</h2>
                  <img src="https://github.com/tigarcia/Moxie/raw/master/moxie.png" />
                  <h5 style={{fontSize: "2em", margin: "2px"}}>  Hobbies: </h5>
                  <ul >
                      <li style={liStyle} > sleep </li>
                      <li style={liStyle} > eat </li>
                  </ul>
                </div>);
      }
    }

    ReactDOM.render(<Pet />, document.getElementById("app"));
  </script>
</body>
</html>
