.App {
  width:50%;
  margin: 1em auto;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.185);
  -webkit-box-shadow: 5px 5px 20px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 20px -9px rgba(0,0,0,0.75);
box-shadow: 5px 5px 20px -9px rgba(0,0,0,0.75);
}


.todo-content{
  width: 80%;
  margin: 1em auto;
 
  
}
li:nth-of-type(odd){
 background-color: rgba(128, 128, 128, 0.171);
}